<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon">
  <title>Frontend Mentor | News homepage</title>
</head>
<body>

  <header class="menu">
    <div class="logo">
      <img src="../assets/logo.svg" alt="logo">
    </div>
    <img src="../assets/icon-menu.svg" alt="" class="responsives-menu">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Categories</a></li>
      </ul>
    </nav>
  </header>

  <div id="info">
    <div class="info-1">
      <img src="../images/image-web-3-desktop.jpg" alt="" class="desktop">
      <img src="../images/image-web-3-mobile.jpg" alt="" class="responsive">
      <div class="info-2">
        <h1>The Bright Future of Web 3.0?</h1>
        <div class="container">
          <p>We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
          <div class="boton">
            <h3>READ MORE</h3>
        </div>
        </div>
      </div>
    </div>
    <div class="info-3">
      <div class="conteiner-text">
        <h2>New</h2>
        <div class="text">
          <h3>Hydrogen VS Electric Cars</h3>
          <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
        </div>
        <hr>
        <div class="text">
          <h3>The Downsides of Al Artistry</h3>
          <p>What are the possible adverse effects of on-demand Al image generation?</p>
        </div>
        <hr>
        <div class="text">
          <h3>Is VC Funding Drying Up?</h3>
          <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="images">
    <div class="container-img">
      <img src="../images/image-retro-pcs.jpg">
      <div class="container-img-text">
        <h1>01</h1>
        <h2>Reviving Retro PCs</h2>
        <p>What happens when old PCs are given modern upgrades?</p>
      </div>
    </div>
    <div class="container-img">
      <img src="../images/image-top-laptops.jpg">
      <div class="container-img-text">
        <h1>02</h1>
        <h2>Top 10 Laptops of 2022</h2>
        <p>Our best picks for various needs and budgets.</p>
      </div>
    </div>
    <div class="container-img">
      <img src="../images/image-gaming-growth.jpg">
      <div class="container-img-text">
        <h1>03</h1>
        <h2>The Growth of Gaming</h2>
        <p>How the pandemic has sparked fresh opportunities.</p>
      </div>
    </div>
  </div>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://www.frontendmentor.io/profile/JoseDanielR18">Jose Daniel Rodríguez</a>.
  </div>

</body>
</html>