* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* MENU */

.menu {
  margin: auto;
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.logo {
  margin: auto;
}

.logo img {
  width:55px;
}

nav {
  margin: auto;
}

nav a {
  text-decoration: none;
  color: rgba(71, 5, 5, 0.699);
  transition: all 500ms ease;
}

nav a:hover {
  color: rgba(233, 54, 0, 0.808);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding: 10px;
}


/* BODY */

#info {
  display: flex;
  height: 70vh;
  margin: auto;
  max-width: 100%;
}

.info-1 {
  margin: auto;
  margin-right: 0px;
}

.info-1 img {
  width: 640px;
}

.info-2 {
  margin-top: 20px;
  display: flex;
  width: 640px;
  justify-content: space-between;
}

.info-2 p {
  width: 355px;
  line-height: 24px;
}

.info-2 h1 {
  width: 270px;
  font-size: 45px;
  line-height: 50px;
  color: rgba(2,1,22,255);
}

.boton {
  margin-top: 20px;
  background-color: rgba(241,93,81,255);
  width: 200px;
  color: white;
  text-align: center;
  padding: 13px;
  cursor: pointer;
  transition: all 500ms ease;
}

.boton:hover {
  background-color: rgba(0,0,26,255);
}

.boton h3 {
  font-weight: 400;
  letter-spacing: 0.25em;
  font-size: 16px;
}

.info-3 {
  margin: auto;
  margin-left: 30px;
  background-color: rgba(0,0,26,255);
  width: 350px;
}

.conteiner-text {
  padding: 20px;
  padding-left: 12px;
  padding-bottom: 0px;
}

.conteiner-text h2 {
  font-size: 30px;
  color: rgba(240,171,75,255);
}

.text {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.61);
}

.text h3 {
  transition: all 300ms ease;
  cursor: pointer;
}

.text h3:hover {
  color: rgba(240,171,75,255);
}

hr {
  border: solid 1px rgba(255, 255, 255, 0.61);
  border-radius: 100px;
}


/* IMAGES */

#images {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container-img {
  display: flex;
  margin: 5px;
}

.container-img img {
  width: 90px;
}

.container-img-text {
  width: 225px;
  margin-left: 20px;
}

.container-img-text h1 {
  color: rgba(201,199,203,255);
}

.container-img-text h2 {
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: all 300ms ease;
  cursor: pointer;
}

.container-img-text h2:hover {
  color: rgba(241,93,81,255);
}

.container-img-text p {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.603);
}
